---
layout: default
---
<div class="home">

  <h1 class="page-heading">Kontakty</h1>

  <ul class="post-list">
    {% for staff_member in site.staff_members %}
        <h2>{{ staff_member.name }}</h2>
        <div>{{ staff_member.position }}</div>
        <div>Telefon: {{ staff_member.phone }} </div>
        <div><a href={{ staff_member.email }}>e-mail</a></div>
        <img src="https://drive.google.com/thumbnail?id={{staff_member.img_id}}&sz=w600" a/>
        <p>{{ staff_member.content | markdownify }}</p>
    {% endfor %}

    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>
  <p>

    <!-- Google Calendar Appointment Scheduling begin -->
    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3KH6G1DM40ZGLZGDhdVGtBdinSM5dyqsbCJ9vJdrWzHq-CW1zIx0ySK5Ohh5oecp_NeiZPVvzH?gv=true" style="border: 0" width="100%" height="600" frameborder="0"></iframe>
    <!-- end Google Calendar Appointment Scheduling -->
    
    <a href="{{ "/Contract.cs.html" | prepend: site.baseurl }}">Smlouva</a> | 
    <a href="{{ "/Conditions.cs.html" | prepend: site.baseurl }}">Podmínky</a> |
    <a class="rss-subscribe" href="{{ "/feed" | prepend: site.baseurl }}">subscribe via RSS feed</a>
  </p>

</div>
