---
layout: default
---
<div class="home">

  <h1 class="page-heading">Kontakty</h1>

  <ul class="post-list">
    {% for staff_member in site.staff_members %}
        <h2>{{ staff_member.name }}</h2>
        <div>{{ staff_member.position }}</div>
        <img src={{ staff_member.profile_picture }} a/>
        <div>Telefon: {{ staff_member.phone }} </div>
        <div><a href={{ staff_member.email }}>e-mail</a></div>
        <p>{{ staff_member.content | markdownify }}</p>
    {% endfor %}

    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <p>
    <a href="{{ "/Contract.cs.html" | prepend: site.baseurl }}">Smlouva</a> | 
    <a href="{{ "/Conditions.cs.html" | prepend: site.baseurl }}">Podmínky</a> |
    <a class="rss-subscribe" href="{{ "/feed" | prepend: site.baseurl }}">subscribe via RSS feed</a>
  </p>

</div>
