---
layout: default
---
<div class="home">

  <h1 class="page-heading">Kontakty</h1>

  <ul class="post-list">
    {% for staff_member in site.staff_members %}
        <h2>{{ staff_member.name }}</h2>
        <div>{{ staff_member.position }}</div>
        <img src={{ staff_member.profile_picture }} a/>
        <span>Telefon: <img src="{{ staff_member.phone }}" style="display:block"/></span>
        <span>Email: <img src="{{ staff_member.email }}" style="display:block" /></span>
        <p>{{ staff_member.content | markdownify }}</p>
    {% endfor %}

    <a href="{{ "/Contract.cs.html" | prepend: site.baseurl }}">Smlouva</a>


    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed" | prepend: site.baseurl }}">via RSS</a></p>

</div>
